.header-div {

}

.resize {
	height: 60px;
}

.custom-font {
	font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-toggler {
  background-color: rgba(150, 150, 150, 0.4); 
  border-color: rgba(0, 0, 0, 0.7);
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0.25rem;
}

#mainNav .navbar-brand {
	color: white;
}

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

#mainNav.navbar-scrolled {
	background-color: black;
	opacity: 0.85;
}

#mainNav.navbar-scrolled .navbar-brand {
	color: #f8f9fa;
}
#mainNav.navbar-scrolled .navbar-brand:hover {
	color: #f4623a;
}
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
	color: #6c757d;
}
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
	color: #f4623a;
}