.header-div {

}

.resize {
	height: 60px;
}

.custom-font {
	font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-toggler {
  background-color: rgba(150, 150, 150, 0.4); 
  border-color: rgba(0, 0, 0, 0.7);
}

#mainNav .navbar-brand {
	color: white;
}

#mainNav {
  	background-color: black;
}

#mainNav.navbar-scrolled {
	background-color: black;
}

#mainNav.navbar-scrolled .navbar-brand {
	color: #f8f9fa;
}
#mainNav.navbar-scrolled .navbar-brand:hover {
	color: #f4623a;
}
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
	color: #6c757d;
}
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
	color: #f4623a;
}